<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  {% include "main/head.html" %}

  {% block page_specific_styling %}
  {% endblock %}

  <title>
    {% block page_title %}
      BINHI
    {% endblock %}
  </title>

</head>

<body>
  <div id="binhi-main-container">

    <div class="header-container">
      <div class="header-label-container"> 
        
        {% if user.is_authenticated %}

          <div class="header-title-container">
            <a href="{% url 'home' %}" class="nav-link">BINHI</a>
          </div>

          <div class="landing-page-container">
            <a href="{% url 'landing_page' %}" class="nav-link">Home</a>
          </div>

          <div class="logout-container">
            <a class="nav-link" href="{% url 'logout' %}">logout</a>
          </div>

        {% else %}

          <div class="header-title-container">
            <a href="{% url 'landing_page' %}" class="nav-link">BINHI</a>
          </div>
          <div class="login-container">
            <a class="nav-link" href="{% url 'login-register' 'login' %}">Login</a>
          </div>
        
        {% endif %}
        
      </div>      

      {% if user.is_authenticated %}
      
      <div class="header-user-label-container">
        <div class="welcome-user-container">
          {% if not user.username == '' %} Welcome, {{ user.username }}! {% else %} Welcome, User!{% endif %}
        </div>
      </div>


      <div class="header-feature-container">
        <div 
          class="roi-predictor-option nav-link" 
          :class="{ 'roi-option-selected': isROIPredictor2Showing}"
          @click="selectROIOption('predictor2')"
        >
          ROI Predictor V2
        </div>
        
        <div 
          class="roi-calculator-option nav-link" 
          :class="{ 'roi-option-selected': isROICalculatorShowing}"
          @click="selectROIOption('calculator')"
        >
          ROI Calculator
        </div>

      </div>
      {% endif %}

      <nav class="navigation-links-containar">
        <ul class="navigation-menu">
          <!-- <li class="nav-item"><a href="{% url 'vegetable_recommendations' %}" class="nav-link">Vegetable Recommendations</a></li>
          <li class="nav-item"><a href="{% url 'cultural_management_practices' %}" class="nav-link">Cultural Management Practices</a></li>
          <li class="nav-item"><a href="{% url 'nutrient_management' %}" class="nav-link">Nutrient Management</a></li> -->
        </ul>
      </nav>
    </div>

    {% block body %}
      This is base template
    {% endblock %}
    
    <footer>
      <div class="footer-container">    
        <p>Copyright &copy; 2023</p>
      </div>
    </footer>
    
  </div>
</body>