{% extends 'main/base.html' %}

{% load static %}

{% block page_specific_styling %}
  <link rel="stylesheet" href="{% static 'main/css/naive-bayes-container.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/roi-calculator.css' %}">
{% endblock %}

{% block body %}
  <div id="home-page">

    <div class="roi-option-label">
      <div 
        class="roi-predictor-option" 
        :class="{ 'roi-option-selected': isROIPredictorShowing}"
        @click="selectROIOption('predictor')"
      >
        ROI Predictor V1
      </div>

      <div 
        class="roi-predictor-option" 
        :class="{ 'roi-option-selected': isROIPredictor2Showing}"
        @click="selectROIOption('predictor2')"
      >
        ROI Predictor V2
      </div>
      
      <div 
        class="roi-calculator-option" 
        :class="{ 'roi-option-selected': isROICalculatorShowing}"
        @click="selectROIOption('calculator')"
      >
        ROI Calculator
      </div>
    
    </div>
    
    {% include "main/roi_predictor.html" %}
    {% include "main/roi_predictor2.html" %}
    {% include "main/roi_calculator.html" %}
  </div>
{% endblock %}
