{% load static %}

<div class="naive-bayes-container" id="naive-bayes-container" v-if="isROIPredictor2Showing">
      
  <div class="container-title">
    Return of Investment Predictor Version 2
  </div>      

  <div class="roi-classify-form-container">
    
    <div class="roi-classify-label"> 
      Classify Form
    </div>

    <form id="roi-classify-form" name="roi-classify-form-2" method="GET">
      {% csrf_token %}

      <input type="hidden" name="form_name" value="roi-classify-form-2">
      
      <label for="date">Select a date:</label>
      <input type="date" id="selectedDate" name="selectedDate" required>

      <hr>

      <select id="selectedCrop" name="selectedCrop" required>
        <option value="" disabled selected>Select Crop</option>
        <option value="Palay">Palay</option>
        <option value="Corn">Corn</option>
        <option value="Cabbage">Cabbage</option>
        <option value="Eggplant">Eggplant</option>
        <option value="Mongo">Mongo</option>
        <option value="Tomato">Tomato</option>
        <option value="Onion">Onion</option>
        <option value="Potato">Potato</option>
        <option value="Sweet Potato">Sweet Potato</option>
      </select>

      <hr>
      
      <label for="investment-label">investment (PHP):</label>
      <input type="number" id="investment-php" name="investment-php" min="0" required>
      
      <hr>

      <button class="classify-submit-btn" id="classify-submit-btn" type="submit" :disabled="!isModelTrained">Send</button>
    </form>

    <div class="classify-output-container">
      <strong>Selected Crop: {{ selected_crop }}</strong><br>
      <strong>Selected Date: {{ selected_date }}</strong><br>
      <strong>investment (PHP): {{ investment }}</strong><br>
      <strong>Predicted ROI: {{ roi }}%</strong><br>
      <strong>Predicted ROI (PHP): {{ total_return }}</strong>
      
      <br>
      <br>

      <div v-if="!isModelTrained">
        <button class="train-btn" id="train-btn2" type="submit">Train Classifier</button>
      </div>
      
      <!-- <div class="terminal-output-container">
      
        Terminal Output: 
        
        <div class="terminal-output">
          {{ progress_output }}
        </div>
      </div> -->
            
    </div>

  </div>

  <div class="classifier-training-output-container" v-if="isModelTrained">
    <div class="loading-main-container" v-if="isLoading">
      <div class="loading-container">
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading...</div>
      </div>  
    </div>
    
    <div class="classifier-training-output" v-if="!isLoading">
      <span>Classifier Model Output</span>

      <table id="predictor-v2-trained-table">
        <thead>
          <tr>
            <th>Crops</th>
            <th>MAE</th>
            <th>MSE</th>
            <th>RMSE</th>
            <th>R-Squared</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(value, key) in linearRegressionScores" :key="key">
            <td>
              [[ key ]]
            </td>
            <td>
              [[ value['MAE'] ]]
            </td>
            <td>
              [[ value['MSE'] ]]
            </td>
            <td>
              [[ value['RMSE'] ]]
            </td>
            <td>
              [[ value['R-squared'] ]]
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>