{% load static %}

<div class="naive-bayes-container" id="naive-bayes-container" v-if="isROIPredictor2Showing">
      
  <div class="container-title">
    Return of Investment Predictor Version 2
  </div>      

  <div class="roi-classify-form-container roi-classify-form-container-2">
    
    <div class="roi-classify-label"> 
      Input Form
    </div>

    <div class="roi-input-section">
      <form id="roi-classify-form" class="roi-input-form-2" name="roi-classify-form-2" method="GET">
        {% csrf_token %}
  
        <input type="hidden" name="form_name" value="roi-classify-form-2">
        
        <label for="date">Select a date:</label>
        <input type="date" id="selectedDate" name="selectedDate" required>
        
        <hr>
  
        <select id="selectedCrop" name="selectedCrop" required>
          <option value="" disabled selected>Select Crop</option>
          <option value="Palay">Palay</option>
          <option value="Corn">Corn</option>
          <option value="Cabbage">Cabbage</option>
          <option value="Eggplant">Eggplant</option>
          <option value="Mongo">Mongo</option>
          <option value="Tomato">Tomato</option>
          <option value="Onion">Onion</option>
          <option value="Potato">Potato</option>
          <option value="Sweet Potato">Sweet Potato</option>
        </select>
  
        <hr>
        
        <label for="investment-label">investment (PHP):</label>
        <input type="number" id="investment-php" name="investment-php" min="0" required>
        
        <hr>
  
        <button class="classify-submit-btn" id="classify-submit-btn" type="submit" :disabled="!isModelTrained">Send</button>
      </form>
    </div>

    <div v-cloak class="classify-output-container" v-show="!isLoading" :class="roi2CropBg">

      <div class="display-flex">
        <div class="selected-plant-container">
          <div class="selected-crop-2">{{ selected_crop }}</div>
        </div>
      
        <div class="v2-output-container">
          {% if selected_crop %}
            <strong>Selected Crop: {{ selected_crop }}</strong><br>
          {% endif %}
          {% if selected_date %}
            <strong>Selected Date: {{ selected_date }}</strong><br>
          {% endif %}
          {% if investment %}
            <strong>investment (PHP): {{ investment }}</strong><br>
          {% endif %}
          {% if roi %}
            <strong>Predicted ROI: {{ roi }}%</strong><br>
          {% endif %}
          {% if profit %}
            <strong>Predicted ROI (PHP): {{ profit }}</strong><br>
          {% endif %}
          {% if revenue %}
            <strong>Total Return (PHP): {{ revenue }}</strong><br>
          {% endif %}
        </div>
      </div>

      <br>
      
      {% if model_score %}
        <div class="v2-model-scores-container">
          <div class="mae-container v2-model" @mouseover="showDescription = 1" @mouseleave="showDescription = false">
            <div class="description" :class="{ 'display-block': showDescription == 1 }">
              Measures the average absolute difference between actual and predicted values.
            </div>
            <div class="label-score" :class="{ 'display-none': showDescription == 1 }">
              <div class="score">{{ model_score.MAE }}</div>
              <div class="label">Mean Absolute Error Score MAE</div>
            </div>
          </div>
          <div class="mse-container v2-model" @mouseover="showDescription = 2" @mouseleave="showDescription = false">
            <div class="description" :class="{ 'display-block': showDescription == 2 }"> 
              Measures the average squared difference between actual and predicted values, giving more weight to larger errors.
            </div>
            <div class="label-score" :class="{ 'display-none': showDescription == 2 }">
              <div class="score">{{ model_score.MSE }}</div>
              <div class="label">Mean Squared Error MSE</div>
            </div>
          </div>
          <div class="rmse-container v2-model" @mouseover="showDescription = 3" @mouseleave="showDescription = false">
            <div class="description" :class="{ 'display-block': showDescription == 3 }">
              Square root of the average squared differences between actual and predicted values, providing a measure of the standard deviation of prediction errors.
            </div>
            <div class="label-score" :class="{ 'display-none': showDescription == 3 }">
              <div class="score">{{ model_score.RMSE }}</div>
              <div class="label">Root Mean Square Error RMSE</div>
            </div>
          </div>
          <div class="r-squared-container v2-model" @mouseover="showDescription = 4" @mouseleave="showDescription = false">
            <div class="description" :class="{ 'display-block': showDescription == 4 }">
              Measures the proportion of the variance in the dependent variable that is predictable from the independent variables, ranging from 0 to 1.
            </div>
            <div class="label-score" :class="{ 'display-none': showDescription == 4 }">
              <div class="score">{{ model_score.R_squared }}</div>
              <div class="label">R-Squared</div>
            </div>
      
          </div>
        </div>
      {% endif %}
      
      <br>
      <br>

      {% if conclusion_output %}
        <div class="conclusion-output-container">
          Conclusion: 
          
          <div class="conclusion">
            {% if roi > 0 %}
            <img src="{% static 'main/assets/arrow-up.png' %}" class="arrow-up">
            {% else %}
              <img src="{% static 'main/assets/arrow-down.png' %}" class="arrow-down">
            {% endif %}
          <strong>{{ conclusion_output }}</strong>
          </div>
          
        </div>
      {% endif %}
      
      {% if terminal_progress %}
        <div class="terminal-output-container">
        
          Terminal Output: 
          
          <div class="terminal-output">
            {{ terminal_progress }}
          </div>
        </div>
      {% endif %}
            

      <div v-if="!isModelTrained">
        {% if not selected_crop %}
          <button class="train-btn" id="train-btn2" type="submit">Train Predictor</button>
        {% else %}
          <button class="train-btn" id="train-btn2" type="submit">Retrain Predictor</button>
        {% endif%}
      </div>
      
    </div>

  </div>

  <div class="classifier-training-output-container" v-if="isModelTrained">
    <div class="loading-main-container" v-if="isLoading">
      <div class="loading-container">
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading...</div>
      </div>  
    </div>
    
    <div class="classifier-training-output" v-if="!isLoading" @click="toggleContainer('predictor-v2-trained-table')">
      <span>Classifier Model Output</span>

      <table id="predictor-v2-trained-table">
        <thead>
          <tr>
            <th>Crops</th>
            <th>MAE</th>
            <th>MSE</th>
            <th>RMSE</th>
            <th>R-Squared</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(value, key) in linearRegressionScores" :key="key">
            <td>
              [[ key ]]
            </td>
            <td>
              [[ value['MAE'] ]]
            </td>
            <td>
              [[ value['MSE'] ]]
            </td>
            <td>
              [[ value['RMSE'] ]]
            </td>
            <td>
              [[ value['R_squared'] ]]
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>