#home-page{
  min-height: 500px;
}

.naive-bayes-container{
  background-color: rgb(63, 63, 63);
  margin: auto;
  width: 80%;
  height: 800px;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  color: #FFCC00;
}

#home-page .naive-bayes-container .container-title{
  padding: 30px 10px 10px 10px;
  text-align: center; 
  font-size: 20px;
}

#train-classifier-btn{
  font-size: 15px;
  padding: 5px;
  border-radius: 10px 5px;
  cursor: pointer;
  background-color: #FAF5E9;
  width: 110px;
  color: black;
  margin: auto;
  margin-bottom: 20px;
}

.classifier-training-output-container{
  width: 80%;
  background-color: #FAF5E9;
  border-radius: 15px;
  margin: auto;
  color: black;
}

.classifier-training-output{
  padding: 10px;
}

.classifier-training-output span{
  font-weight: bolder;
}

@media (max-width: 768px) {
  .naive-bayes-container{
    width: 100%;
    border-radius: 0px;
    border: none;
  }
}
