#home-page{
  min-height: 500px;
  /* margin: 100px 0px; */
}

#home-page .roi-option-label{
  margin: auto;
  margin-top: 20px;
  width: 500px;
  max-width: 99%;
  padding: 10px;
  display: flex;
  background-color: rgb(2, 3, 2, 0.8);
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 10px;
}

.roi-option-label .roi-predictor-option, .roi-option-label .roi-calculator-option{
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}

.roi-option-label .roi-predictor-option:hover, .roi-option-label .roi-calculator-option:hover{
  background-color: #ddd;
  color: #555;
  font-weight: bolder;
}

.roi-option-selected{
  background-color: #ddd;
  color: #555;
  font-weight: bolder;
}
